.taskForm{
    display: flex;
    width: 450px;
    margin-left: 15px;
    margin-right: 15px;
    flex-direction: column;
}

.taskInputContainer{
    display: flex;
    flex-direction: column;

}



.taskInput{
    background-color: rgb(253, 208, 153);
    border-radius: 5px;
    /* margin-top: 20px; */
    padding: 10px;
}

.submitTaskButton{
    background-color: yellow;
    /* border-radius: 5px;
    margin-top: 20px;
    padding: 10px; */
}

.task_input1{
    background-color: rgb(255, 234, 209);
    margin-left: 5px;
    width: 350px;
    font-size: 16px;
}

.task_input2 {
    background-color: rgb(255, 234, 209);
    margin-left: 5px;
    width: 335px;
    font-size: 16px;
}